<style>
    .page-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #B0BEC5;
        display: table;
        font-size: 30px;

    }

    .page-inner {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .content1 {
        text-align: center;
        display: inline-block;
    }

</style>

<div class="page-container">
    <div class="page-inner">
        <div ng-style="theme.crdark" class="content1">Under development</div>
        <p>This is Profile page</p>
    </div>
</div>