<style>

</style>

<div class="page-inner" ng-style="theme.crdark">
    <div class="page-head" ng-style="theme.brlight">
        Profile -About me
    </div>
    <div class="clearfix"></div>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <div class="title_content">
                <div class="text_content">Pavan kumar katakam</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>Name</label>
                    <span class="value">Pavan kumar</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <label>Date of birth</label>
                    <span class="value">Nov 5th, 1992</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>Adress</label>
                    <span class="value">Hyderabad, India</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">katakampavan.btech@gmail.com</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>Phone</label>
                    <span class="value">+91-8008227427</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>Website</label>
                    <span class="value"><a href="#" target="_blank">www.pavankumarkatakam.com</a></span>

                    <div class="clear"></div>
                </li>

            </ul>


            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>

            </p>

            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>

            </p>

        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <img src="../pavankumarkatakam.github.io/mydata/about_1.jpg">
        </div>

    </div>

</div>